
<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include('../partials/head.html') %>
  </head>

<body>

  <!-- ***** Preloader Start ***** -->
    <%- include('../partials/preloader.html')%>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
    <%- include('../partials/header.html')%>
  <!-- ***** Header Area End ***** -->

  <div class="main-banner" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6 align-self-center">
              <div class="owl-carousel owl-banner">
                <div class="item header-text">
                  <h6>Bem-vindo ao Onemedia</h6>
                  <h2>Crie <em> seu site </em> com melhor <span> SEO</span></h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolo.</p>
                  <div class="down-buttons">
                    <div class="main-blue-button-hover">
                      <a href="#contact">Contacte-nos</a>
                    </div>
                    <div class="call-button">
                      <a href="#"><i class="fa fa-phone"></i> +258 82 3642 642</a>
                    </div>
                  </div>
                </div>
                <div class="item header-text">
                  <h6>Online Marketing</h6>
                  <h2>Precisa <em>de uma campanha</em>  <span>de marketing?</span></h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                  <div class="down-buttons">
                    <div class="main-blue-button-hover">
                      <a href="#services">Our Services</a>
                    </div>
                    <div class="call-button">
                      <a href="#"><i class="fa fa-phone"></i> +258 82 3642 642</a>
                    </div>
                  </div>
                </div>
                <div class="item header-text">
                  <h6>Aluguer de Equipamentos</h6>
                  <h2>Quer <em>alugar </em> equipamento <span>para seu evento?</span></h2>
                  <p>Please Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  <div class="down-buttons">
                    <div class="main-blue-button-hover">
                      <a href="#video">Watch Videos</a>
                    </div>
                    <div class="call-button">
                      <a href="#"><i class="fa fa-phone"></i> +258 82 3642 642</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="services" class="our-services section">
    <div class="services-right-dec">
      <img src="assets/images/services-right-dec.png" alt="">
    </div>
    <div class="container">
      <div class="services-left-dec">
        <img src="assets/images/services-left-dec.png" alt="">
      </div>
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="section-heading">  
            <h2>Delicie-se da nossa carteira de <span>serviços </span></h2>
            <span>Nossos serviços </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="owl-carousel owl-services">
            <div class="item">
              <h4>Publicidade</h4>
              <div class="icon"><img src="assets/images/service-icon-01.png" alt=""></div>
              <p></p>Criação e desenvolvimento de campanhas de publicidade para variados
              meios (rádio, TV, web e print) e videos institucionais.
            </div>
            <div class="item">
              <h4>Relações Publicas</h4>
              <div class="icon"><img src="assets/images/service-icon-02.png" alt=""></div>
              <p>Definição e implementação de estratégias que influenciam a opinião pública
                à favor da marca do cliente.</p>
            </div>
            <div class="item">
              <h4>Produção de Eventos</h4>
              <div class="icon"><img src="assets/images/service-icon-03.png" alt=""></div>
              <p>Concepção e produção de eventos corporativos de pequena e larga escala
                (conferências, feiras, lançamento de marcas, etc).</p>
            </div>
            <div class="item">
              <h4>Marketing Digital</h4>
              <div class="icon"><img src="assets/images/service-icon-04.png" alt=""></div>
              <p>Concepção e produção de eventos corporativos de pequena e larga escala
                (conferências, feiras, lançamento de marcas, etc).</p>
            </div>
            <div class="item">
              <h4>Impressão e Produção de Brindes</h4>
              <div class="icon"><img src="assets/images/service-icon-01.png" alt=""></div>
              <p>Qualidade do produto final impresso (digital ou offset) é assegurada pela
                nossa equipa de colaboradores e parceiros.</p>
            </div>
            <div class="item">
              <h4>Aluguer de Equipamento</h4>
              <div class="icon"><img src="assets/images/service-icon-02.png" alt=""></div>
              <p>Construção de stands personalizados e aluguer de equipamento para feiras
                (audiovisual, tendas e stands modulares)</p>
            </div>
          
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="about" class="about-us section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center">
          <div class="left-image">
            <img src="assets/images/about-left-image.png" alt="Two Girls working together">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="section-heading">
               
            <h2>Seu evento corporativo ou empresarial <em>com uma decoração mais moderna, </em> &amp; <span>inovadora</span> e criativa</h2>
            <p>Gerir e realizar grandes eventos nacionais e internacionais, exige uma equipe organizada e multidisciplinar para executar simultaneamente tarefas diversas, E o diferencial da OneMidia.</p>
            <!-- <div class="row">
              <div class="col-lg-4">
                <div class="fact-item">
                  <div class="count-area-content">
                    <div class="icon">
                      <img src="assets/images/service-icon-01.png" alt="">
                    </div>
                    <div class="count-digit">+20</div>
                    <div class="count-title">Projectos</div>
                    <p>Lorem ipsum dolor sitti amet, consectetur.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="fact-item">
                  <div class="count-area-content">
                    <div class="icon">
                      <img src="assets/images/service-icon-02.png" alt="">
                    </div>
                    <div class="count-digit">640</div>
                    <div class="count-title">Websites</div>
                    <p>Lorem ipsum dolor sitti amet, consectetur.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="fact-item">
                  <div class="count-area-content">
                    <div class="icon">
                      <img src="assets/images/service-icon-03.png" alt="">
                    </div>
                    <div class="count-digit">120</div>
                    <div class="count-title">Satisfied Clients</div>
                    <p>Lorem ipsum dolor sitti amet, consectetur.</p>
                  </div>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="portfolio" class="our-portfolio section">
    <div class="portfolio-left-dec">
      <img src="assets/images/portfolio-left-dec.png" alt="">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="section-heading">
            <h2>Outros <em> serviços &amp; produtos </em>  da <span>Onemedia</span></h2>
            <span>Serviços e Produtos</span>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="owl-carousel owl-portfolio">
            <div class="item">
              <div class="thumb">
                <img src="assets/images/portfolio-01.jpg" alt="">
                <div class="hover-effect">
                  <div class="inner-content">
                    <a rel="sponsored" href="#" target="_parent"><h4>Website</h4></a>
                    <span>E-commerce, Site corporativo</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="thumb">
                <img src="assets/images/portfolio-02.jpg" alt="">
                <div class="hover-effect">
                  <div class="inner-content">
                    <a href="#"><h4>Aplicativos</h4></a>
                    <span>Android &amp; IOS</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="thumb">
                <img src="assets/images/portfolio-03.jpg" alt="">
                <div class="hover-effect">
                  <div class="inner-content">
                    <a rel="sponsored" href="" target="_parent"><h4>Design grafico</h4></a>
                    <span>Logo, flyers..</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="thumb">
                <img src="assets/images/portfolio-04.jpg" alt="">
                <div class="hover-effect">
                  <div class="inner-content">
                    <a href="#"><h4>Marketing Digital</h4></a>
                    <span>Social media</span>
                  </div>
                </div>
              </div>
            </div>
                 
            <div class="item">
              <div class="thumb">
                <img src="assets/images/portfolio-04.jpg" alt="">
                <div class="hover-effect">
                  <div class="inner-content">
                    <a href="#"><h4>12th Project</h4></a>
                    <span>SEO &amp; Marketing</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

     

  <div id="pricing" class="pricing-tables">
    <div class="tables-left-dec">
      <img src="assets/images/tables-left-dec.png" alt="">
    </div>
    <div class="tables-right-dec">
      <img src="assets/images/tables-right-dec.png" alt="">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="section-heading">
            <h2>Selecione um <em>pacote adequado</em> para seus próximos <span>evento</span></h2>
            <span>Nossos planos</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <div class="item first-item">
            <h4>Pacote basico</h4>
            <em>499MT/dia</em>
            <!-- <span>499MT</span> -->
            <ul>
              <li>10 lorem ipsum</li>
              <li>100 lorem ipsum</li>
              <li>20 lorem ipsum</li>
              <li>Suporte basico</li>
            </ul>
            <div class="main-blue-button-hover">
              <a href="#">Solicitar agora</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="item second-item">
            <h4>Pacote medio</h4>
            <em>240MT/dia</em>
            <!-- <span>160MT</span> -->
            <ul>
              <li>20 lorem ipsum</li>
              <li>200 lorem ipsum</li>
              <li>50 lorem ipsum</li>
              <li>Suporte premium</li>
            </ul>
            <div class="main-blue-button-hover">
              <a href="#">Solicitar agora</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="item third-item">
            <h4>Pacote basico</h4>
            <em>360MT/dia</em>
            <!-- <span>280 MT</span> -->
            <ul>
              <li>30 lorem ipsum</li>
              <li>300 lorem ipsum</li>
              <li>100 lorem ipsum</li>
              <li>Suporte premium</li>
            </ul>
            <div class="main-blue-button-hover">
              <a href="#">Compre Agora</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="subscribe" class="subscribe">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="inner-content">
            <div class="row">
              <div class="col-lg-10 offset-lg-1">
                <h2>Receba nossas promoções no seu email</h2>
                <form id="subscribe" action="" method="get">
                  <input type="text" name="website" id="website" placeholder="Nome" required="">
                  <input type="text" name="email" id="email" pattern="[^ @]*@[^ @]*" placeholder="Seu email" required="">
                  <button type="submit" id="form-submit" class="main-button ">Assinar</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  

  <div id="contact" class="contact-us section">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <div class="section-heading">  
            <h2>Sinta-se à vontade para nos<em> contatar</em> através do formulário</h2>
            <div id="map">
              <iframe src="https://maps.google.com/maps?q=One+Media+SA,+1061+Av.+Emília+Daússe,+Maputo&t=&z=13&ie=UTF8&iwloc=&output=embed" width="100%" height="360px" frameborder="0" style="border:0" allowfullscreen=""></iframe>
            </div>
            <div class="info">
              <span><i class="fa fa-phone"></i> <a href="#">+258 82 3642 642</a></span>
              <span><i class="fa fa-envelope"></i> <a href="#">comercial@onemediamoz.com</a></span>
            </div>
          </div>
        </div>
        <div class="col-lg-5 align-self-center">
          <form id="contact" action="" method="get">
            <div class="row">
              <div class="col-lg-12">
                <fieldset>
                  <input type="name" name="name" id="name" placeholder="Name" autocomplete="on" required>
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <input type="surname" name="surname" id="surname" placeholder="Localização" autocomplete="on" required>
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <input type="text" name="email" id="email" pattern="[^ @]*@[^ @]*" placeholder="Seu email" required="">
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <input type="text" name="website" id="website" placeholder="Mensagem" required="">
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <button type="submit" id="form-submit" class="main-button">Enviar Mensagem</button>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="contact-dec">
      <img src="assets/images/contact-dec.png" alt="">
    </div>
    <div class="contact-left-dec">
      <img src="assets/images/contact-left-dec.png" alt="">
    </div>
  </div>

  <div class="footer-dec">
    <img src="assets/images/footer-dec.png" alt="">
  </div>

   <%- include('../partials/footer.html')%>

 <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Launch static backdrop modal
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop"  tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div> -->
      <div class="modal-body position-relative popup">
        <div class="position-absolute popup-action">
          <div class="row"> 
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          
        </div>
        <div>
          <img src="assets/images/banner.jpg" alt="">
        </div>
       
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div> -->
    </div>
  </div>
</div>


  <!-- Scripts -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/js/owl-carousel.js"></script>
  <script src="assets/js/animation.js"></script>
  <script src="assets/js/imagesloaded.js"></script>
  <script src="assets/js/custom.js"></script>

  <!-- custom lib popup -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>

  <script>
  // popup
  function showPop() {
    Swal.fire({
      title: 'Sweet!',
      text: 'Modal with a custom image.',
      imageUrl: 'assets/images/banner.jpg',
      imageWidth: 400,
      imageHeight: 200,
      imageMargin: 0,
      imagePadding: 0,
      padding: 0,
      margin: 0,
      imageAlt: 'Custom image',
    })
  }

    
  // Acc
    $(document).on("click", ".naccs .menu div", function() {
      var numberIndex = $(this).index();

      if (!$(this).is("active")) {
          $(".naccs .menu div").removeClass("active");
          $(".naccs ul li").removeClass("active");

          $(this).addClass("active");
          $(".naccs ul").find("li:eq(" + numberIndex + ")").addClass("active");

          var listItemHeight = $(".naccs ul")
            .find("li:eq(" + numberIndex + ")")
            .innerHeight();
          $(".naccs ul").height(listItemHeight + "px");
        }
    });
  </script>
</body>
</html>